html
  head
    title!= title
  link(href='/css/application.css' rel='stylesheet')
  link(href='/css/toolkit-light.min.css' rel='stylesheet')
  body
    .container
      .row
        .col-md-2.content
          .sidebar-nav
            .sidebar-header
              button.nav-toggler.nav-toggler-md.sidebar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggleable-md')
                span.sr-only Toggle nav
              a.sidebar-brand.img-responsive(href='/')
                img(src=clan.badge.image style="width: 110%; height: auto")
            #nav-toggleable-md.collapse.nav-toggleable-md
              ul.nav.nav-pills.nav-stacked.flex-column
                li.nav-header!= clan.name
                li.nav-item
                  a.nav-link.active(href='/') Clan
                li.nav-item
                  a.nav-link(href='/war') Guerra
                li.nav-item
                  a.nav-link(href='#') Estadisticas de guerra
        .col-md-10.content
          .dashhead
            .dashhead-titles
              font(size="10") 
                dashhead-title!= clan.name
              h6!= clan.description
          .hr-divider.my-4
            h6.hr-divider-content Información
          .row.statcards.mt-3.mb-3.text-xs-center.text-md-left
            .col-6.col-md-3.statcard.mb-4.text-xs-center
              img(src='/images/trophy-ribbon.png' style="width: 30%; height: auto")
              p 
              h2.statcard-number
                !=clan.score
              span.statcard-desc Puntos del clan
            .col-6.col-md-3.statcard.mb-4.text-xs-center
              img(src='/images/cards.png' style="width: 30%; height: auto")
              p 
              h2.statcard-number
                !=clan.donations
              span.statcard-desc Donaciones/semana
            .col-6.col-md-3.statcard.mb-4.text-xs-center
              img(src='/images/trophy.png' style="width: 30%; height: auto")
              p 
              h2.statcard-number
                !=clan.requiredScore
              span.statcard-desc Trofeos necesarios
            .col-6.col-md-3.statcard.mb-4.text-xs-center
              img(src='/images/social.png' style="width: 25%; height: auto")
              p 
              h2.statcard-number
                !=clan.memberCount + '/50'
              span.statcard-desc Miembros
          .hr-divider.my-4
            ul.nav.nav-pills.hr-divider-content.hr-divider-nav(role='tablist')
              li.nav-item(role='presentation')
                a.nav-link.active(href='#puntos', role='tab', data-toggle='tab', aria-controls='puntos') Puntos del clan
              li.nav-item(role='presentation')
                a.nav-link(href='#donaciones', role='tab', data-toggle='tab', aria-controls='donaciones') Donaciones
          .tab-content
            #puntos.tab-pane.active(role='tabpanel')
              canvas#puntosChart
            #donaciones.tab-pane(role='tabpanel')
              canvas#donacionesChart
          .hr-divider.my-4
            h6.hr-divider-content Miembros
          .table-responsive
            table.table.table-hover(data-sort="table")
              thead
                tr
                  th.text-center Puesto
                  th Nombre
                  th.text-center Trofeos
                  th.text-center Nivel
                  th.text-center Liga
                  th.text-center Rol
                  th.text-center Donaciones
                  th.text-center % Donaciones
              tbody
                mixin row(member)
                  tr
                    td.text-center= member.rank
                    td
                      a(href='/players/'+member.name)= member.name
                    td.text-center= member.trophies
                    td.text-center= member.expLevel
                    td.text-center
                      img(src=`/images/arenas/arena${member.arena.arenaID}.png` style="width: 30%; height: auto")
                    td.text-center= member.role
                    td.text-center= member.donations
                    td.text-center= member.donationsPercent
                each member in clan.members
                  + row(member)
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/tether.min.js')
    script(src='/js/moment.min.js')
    script(src='/js/Chart.min.js')
    script(src='/js/toolkit.min.js')
    script(src='/js/tablesorter.min.js')
    script.
      $('[data-sort="table"]').tablesorter( {sortList: [[0,0]]} )
      var data = !{JSON.stringify(clanHist)}
      var options = {
        legend: {
          display: false,
        },
        hover: {
          mode: 'index'
        },
        scales: {
          xAxes: [{
            display: true
          }]
        }
      }
      dates = data.dates.map(function(date){
        return moment(date).format('MM/DD/YYYY')
      })
      var puntosChart = $("#puntosChart");
      var puntos = {
        labels: dates,
        datasets: [{
          borderColor: '#1ca8dd',
          backgroundColor:'rgba(66,165,245,.2)',
          label: "Puntos",
          data: data.scores
        }]
      };
      new Chart(puntosChart, {
        type: 'line',
        data: puntos,
        options: options
      });
      var donacionesChart = $("#donacionesChart");
      var donaciones = {
        labels: dates,
        datasets: [{
          borderColor: '#1ca8dd',
          backgroundColor:'rgba(66,165,245,.2)',
          label: "Puntos",
          data: data.donations
        }]
      };
      new Chart(donacionesChart, {
        type: 'line',
        data: donaciones,
        options: options
      });
