html
  head
    title!= player.name
  link(href='/css/application.css' rel='stylesheet')
  link(href='/css/toolkit-light.min.css' rel='stylesheet')
  style.
    .table th,
    .table td { border-top: 0px; }
    .col-8-custom{
      width: 12.5%;
    }
  body
    .container
      .row
        .col-md-2.content
          .sidebar-nav
            .sidebar-header
              button.nav-toggler.nav-toggler-md.sidebar-toggler(type='button', data-toggle='collapse', data-target='#nav-toggleable-md')
                span.sr-only Toggle nav
              a.sidebar-brand.img-responsive(href='/')
                img(src=`/images/arenas/arena${player.arena.arenaID}.png` style="width: 110%; height: auto")
            #nav-toggleable-md.collapse.nav-toggleable-md
              ul.nav.nav-pills.nav-stacked.flex-column
                li.nav-header!= player.clan.name
                li.nav-item
                  a.nav-link(href='/') Clan
                li.nav-item
                  a.nav-link(href='/war') Guerra
                li.nav-item
                  a.nav-link(href='#') Estadisticas de guerra
                li.nav-item
                  a.nav-link.active(href='#') Jugador
        .col-md-10.content
          .dashhead
            .dashhead-titles
              font(size="10") 
                dashhead-title!= player.name
              h6!= player.clan.name
          .hr-divider.my-4
            h6.hr-divider-content Información
          .row
            .col-sm-6
              .statcard.p-3
                table.table.table-sm.table-hover
                  h5
                    b Trofeos
                  tbody
                    tr
                      td Actuales
                      td.text-right!= player.trophies
                    tr
                      td Máximos
                      td.text-right!= player.stats.maxTrophies
              .statcard.p-3
                table.table.table-sm.table-hover
                  h5
                    b Estadísticas
                  tbody
                    tr
                      td Juegos
                      td.text-right!= player.games.total
                    tr
                      td Victorias
                      td.text-right!= player.games.wins
                    tr
                      td Victorias de tres coronas
                      td.text-right!= player.stats.threeCrownWins
                    tr
                      td Porcentaje de victorias
                      td.text-right!= player.games.winsPercent * 100 + '%'
                    tr
                      td Empates
                      td.text-right!= player.games.draws
                    tr
                      td Porcentaje de empates
                      td.text-right!= player.games.drawsPercent * 100 + '%'
                    tr
                      td Derrotas
                      td.text-right!= player.games.losses
                    tr
                      td Porcentaje de derrotas
                      td.text-right!= player.games.lossesPercent * 100 + '%'
                    tr
                      td Cartas encontradas
                      td.text-right!= player.stats.cardsFound
                    tr
                      td Total de donaciones
                      td.text-right!= player.stats.totalDonations
            .col-sm-6
              .statcard.p-3
                table.table.table-sm.table-hover
                  h5
                    b Estadísticas de guerra
                  tbody
                    tr
                      td Victorias de día de guerra
                      td.text-right!= player.games.warDayWins
                    tr
                      td Cartas del clan recolectadas
                      td.text-right!= player.stats.clanCardsCollected
              .statcard.p-3
                table.table.table-sm.table-hover
                  h5
                    b Estadísticas de desafío
                  tbody
                    tr
                      td Máximas victorias
                      td.text-right!= player.stats.challengeMaxWins
                    tr
                      td Cartas ganadas
                      td.text-right!= player.stats.challengeCardsWon
              if player.leagueStatistics
                .statcard.p-3
                  table.table.table-sm.table-hover
                    h5
                      b Temporada actual
                    tbody
                      tr
                        td Trofeos
                        td.text-right!= player.leagueStatistics.currentSeason.trophies
                      tr
                        td Máximos trofeos
                        td.text-right!= player.leagueStatistics.currentSeason.bestTrophies
                .statcard.p-3
                  table.table.table-sm.table-hover
                    h5
                      b Temporada anterior
                    tbody
                      tr
                        td Trofeos
                        if player.leagueStatistics.previousSeason
                          td.text-right!= player.leagueStatistics.previousSeason.trophies
                        else
                          td.text-right N/A
                      tr
                        td Máximos trofeos
                        if player.leagueStatistics.previousSeason
                          td.text-right!= player.leagueStatistics.previousSeason.bestTrophies
                        else
                          td.text-right N/A
                .statcard.p-3
                  table.table.table-sm.table-hover
                    h5
                      b Mejor temporada
                    tbody
                      tr
                        td Trofeos
                        if player.leagueStatistics.bestSeason
                          td.text-right!= player.leagueStatistics.bestSeason.trophies
                        else
                          td.text-right N/A
          .hr-divider.my-4
            h6.hr-divider-content Deck actual
          .row
            .col(align='center')
              p
                h6 Carta favorita: #{player.stats.favoriteCard.name}
          .row
            each card in player.currentDeck
              .col
                img(src=`/images/cards/${card.key}.png` style="width: 100%; height: auto")
                .statcard-number.text-center Nivel 
                  !=card.level
                .statcard-number.text-center
                  div(id= card.id, style='margin: 5px;')
                .statcard-number.text-center
                  if card.leftToUpgrade
                    | #{card.count}/#{card.requiredForUpgrade}
                  else
                    | #{card.count}/100
          .row
            .col(align='right')
              p 
                h6
                  a(href=player.deckLink) Copiar el deck
          .hr-divider.my-4
            h6.hr-divider-content Ciclo de cofres
          mixin cofre(name, number, percent)
            .col
              img(src=`/images/chests/chest-${name}.png` style=`width: ${percent}%; height: auto`)
              .statcard-number +
                !=number+1
          .row
            each chest, index in chests.upcoming
              + cofre(chest, index, 100)
          .row
            + cofre('supermagical', chests.superMagical, 50)
            + cofre('magical', chests.magical, 50)
            + cofre('legendary', chests.legendary, 50)
            + cofre('epic', chests.epic, 50)
            + cofre('giant', chests.giant, 50)
          .hr-divider.my-4
            h6.hr-divider-content Progresión de trofeos
          .row
            canvas#chart
  script(src='/js/jquery.min.js')
  script(src='/js/popper.min.js')
  script(src='/js/tether.min.js')
  script(src='/js/moment.min.js')
  script(src='/js/Chart.min.js')
  script(src='/js/progressbar.min.js')
  script(src='/js/toolkit.min.js')
  script.
    var data = !{JSON.stringify(history)}
    var currentDeck = !{JSON.stringify(player.currentDeck)}
    var ctx = $("#chart");
    var dates = data.id.map(function(date){
      return moment(date).format('MM/DD/YYYY')
    })
    var copas = {
      labels: dates,
      datasets: [{
        borderColor: '#1ca8dd',
        backgroundColor:'rgba(66,165,245,.2)',
        label: "Copas",
        data: data.trophies
      }]
    };
    var myLineChart = new Chart(ctx, {
      type: 'line',
      data: copas
    });
    currentDeck.forEach(card => {
      if(card.leftToUpgrade){
        var percent = (card.count/card.requiredForUpgrade)
      }else{
        var percent = 1.0
      }
      new ProgressBar.Line(document.getElementById(card.id), {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        from: {color: '#0000FF'},
        to: {color: '#FF0000'},
        step: (state, bar) => {
          bar.path.setAttribute('stroke', state.color);
        }
      }).animate(percent);
    })
